In [12]:
import pandas as pd

# Load the dataset
# df = pd.read_csv("C:\\Users\\Admin\\Desktop\\ML\\DSBDA\\Practical\\Pro_14\\Iris.csv")
df.head(10)
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [13]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [14]:
df.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [15]:
# Load dataset
df = pd.read_csv("C:\\Users\\Admin\\Desktop\\ML\\DSBDA\\Practical\\Pro_14\\Iris.csv", header=None)

# Rename columns for clarity
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [17]:
# e. Data Cleaning (Remove NA, ?, Negative values)

In [18]:
# Remove rows with NA or '?'
df.replace("?", pd.NA, inplace=True)
df.dropna(inplace=True)

# Remove negative values if any
df = df[(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']] >= 0).all(axis=1)]

In [19]:
# f. Error Correcting (Outlier Detection and Removal)

In [21]:
# Select only numeric columns for IQR calculation
numeric_df = df.select_dtypes(include=['number'])

# Calculate IQR
Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1

# Filter original df based on IQR
df = df[~((numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR))).any(axis=1)]

# Reset index
df.reset_index(drop=True, inplace=True)

In [22]:
# g. Data Transformation

In [23]:
from sklearn.preprocessing import StandardScaler

# Split features and target
X = df.drop('species', axis=1)
y = df['species']

# Apply Standard Scaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [24]:
# h. Build Data Model Using Regression and NaÃ¯ve Bayes

In [25]:
from sklearn.model_selection import train_test_split

# Split into train and test
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [31]:
# Logistic Regression (for classification)

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Train logistic regression
lr = LogisticRegression()
lr.fit(X_train, y_train)

# Predict and check accuracy
y_pred_lr = lr.predict(X_test)
acc_lr = accuracy_score(y_test, y_pred_lr)
print("Logistic Regression Accuracy:", acc_lr)

Logistic Regression Accuracy: 0.9333333333333333

In [30]:
# NaÃ¯ve Bayes (GaussianNB)

from sklearn.naive_bayes import GaussianNB

# Train Naive Bayes
nb = GaussianNB()
nb.fit(X_train, y_train)

# Predict and check accuracy
y_pred_nb = nb.predict(X_test)
acc_nb = accuracy_score(y_test, y_pred_nb)
print("Naive Bayes Accuracy:", acc_nb)

Naive Bayes Accuracy: 0.9333333333333333

In [29]:
print("Logistic Regression Accuracy:", acc_lr)
print("Naive Bayes Accuracy:", acc_nb)

Logistic Regression Accuracy: 0.9333333333333333
Naive Bayes Accuracy: 0.9333333333333333